@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.layout-grid{
    max-width: 1440px;
    width: 90%;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.layout-grid-secaoIput{
    width: 85%;
    margin: 0 auto;
}

body{
    background-color: #F3F5FC;

}

header{
    margin: 0 auto;
}

header div{
    position:fixed;
    left: 5%;
}

main{
    display: flex;
}

.secaoPrincipal{
    height: 95vh;
    padding: 1.5em 0 0 0;
}

.secaoInput{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 60%;    
}

.caixaTextoInput{
    height: 80%;
    margin-top: 2em;
    border-radius: 30px;
    border-color: transparent;
    background: transparent;
    resize: none;
    padding: 1em;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: calc((32/16)*1em);
    color: #00008b;
}

.informativo{
    display: flex;
    align-items: center;
}

.informativoImg{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.secaoInput-botoes{
    display: flex;
    justify-content: space-between;
}
.secaoInput-botoes button{
    width: 45%;
    height: 67px;
    border-radius: 24px;
}

.botaoCriptografar{
    background: #00008b;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    color: #fff;
    border: none
}

.botaoDescriptografar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 35%;
    background-color: #fff;
    border-radius: 32px;
    padding: 1em
}

aside img{
    width: 100%;
}
footer{
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: center;
}



